body{
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/*text-indent: 15px;	*/
}
.main1-bg,.main1-mask,.main4-bg,.main4-mask{
	position: absolute;
	top: 0;
	left: 0;
}
.wrap{
	width: 1280px;
	margin: 0 auto;
	background-color: #FFFFFF;
		/*background-color: gray;*/
		/*height: 1386px;*/
}
/*--header--*/
.header{
	width: 100%;
	height: 56px;
	position: relative;
		background-color: #FFFFFF;
}
.title{
	position: absolute;
	left: 58px;
	background: url(images/task_1_7_0000s_0009s_0005__编组_.png) no-repeat left center;
	font-family: "SimHei";
	font-size: 21px;
	color: #393A3A;
	line-height: 56px;
	text-indent: 35px;
}
.index{
	position: absolute;
	right: 146px;
}
.index a{
	display: inline-block;
	float: left;
	/*font-size: 14px;*/
	line-height: 52px;
	color: #787B83;
	margin: 0 8px;
	padding: 0 16px;
}
.index-home{
	border-bottom: 4px solid #E7504D;
}
.login{
	position: absolute;
	right: 68px;
	background: url(images/task_1_7_0000s_0009s_0003__编组_.png) no-repeat left center;
	/*font-size: 14px;*/
	line-height: 52px;
	text-indent: 18px;
	color: #E7504D;
}

/*--main1--*/
.main1{
	position: relative;
	width: 100%;
	height: 690px;
	/*color: #FFFFFF;*/
	overflow: hidden;
}

.main1-title{
	font-size: 60px;
	position: absolute;
	left: 116px;
	top: 230px;
}
.main1-subtitle{
	font-size: 21px;
	color: #FFFDFD;
	position: absolute;
	left: 124px;
	top: 328px;
}
.main1-buttom{
	width: 330px;
	height: 63px;
	line-height: 63px;
	font-size: 30px;
	/*color: #FFFFFF;*/
	background-color: #E74F4D;
	text-align: center;
	position: absolute;
	left: 126px;
	top: 474px;

}


/*--main2--*/
.main2{
	position: relative;
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}
.main2-img,.main2-txt{
	width: 318px;
	height: 50px;
	float: left;
	font-family: "SimHei";
	color: #767777;
	text-align: center;
	margin-top: 48px;
}
.main2-txt{
	border-right: 2px solid #767777;
}
.main2-txt4{
	border: none;
}
.main2-img1{
	background: url(images/task_1_7_0000s_0007s_0007__编组_.png) no-repeat top center;
}
.main2-img2{
	background: url(images/task_1_7_0000s_0007s_0006__编组_.png) no-repeat top center;
}
.main2-img3{
	background: url(images/task_1_7_0000s_0007s_0005__编组_.png) no-repeat top center;
}
.main2-img4{
	background: url(images/task_1_7_0000s_0007s_0008__编组_.png) no-repeat top center;
}
/*--main3--*/
.main3{
	position: relative;
	width: 100%;
	height: 360px;
	background-color: #EDEDED;
}
.main3-text{
	font-size: 54px;
	font-family: "SimHei";
	color: #A1A1A1;
	text-align: center;
	position: absolute;
	left: 212px;
	top: 90px;
	padding-top: 140px;
	background: url(images/task_1_7_0000s_0006s_0001__编组_.png) no-repeat top center;
}

/*--main4--*/
.main4{
	position: relative;
	width: 100%;
	height: 340px;
	/*background: url(images/task_1_7_0000s_0004s_0023_看地图.png) no-repeat top center;*/
}
.main4-title{
	width: 100%;
	position: absolute;
	top: 0;
}
.main4-title1{
	width: 100%;
	height: 35px;
	/*padding: 0 100%;*/
	margin: 36px auto 0;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 35px;
	text-align: center;
	/*position: absolute;*/
	/*top: 1441.436px;*/
}
.main4-border{
	width: 30px;
	border-bottom: 3px solid #FFFFFF;
	margin: 0 auto;
	/*position: absolute;*/
}
.main4-title2{
	width: 100%;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	margin: 20px auto 0;
	text-align: center;
	/*position: absolute;*/
	/*top: 1485.347px;*/
}

.location{
	width: 100%;
	position: absolute;
	top: 172px;
	left: 111px;
	margin: 0 auto;
}
/*法一*/
.submit-location{
	width: 235px;
	height: 36px;
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari 和 Chrome */
	margin: 0 15px;
	border: none;
	background-color: #BE4E48;
	color: #FFFFFF;
}
.country,.province,.city{
	width: 235px;
	height: 21px;
	overflow: hidden;
	float: left;
	background-color: #E3E2E4;
	margin: 0 15px;
	padding-bottom: 15px;
	z-index: 120;
}
.location span,li{
	line-height: 36px;
	display: inline-block;
	float: left;
	background-color: #FFFFFF;
	border: none;
}
.location span{
	height: 36px;
	width: 235px;
	color: #AFB0B0;
	text-indent: 10px;
	position: relative;
}
.location li{
	height: 25px;
	width: 205px;
	line-height: 25px;
	text-indent: 15px;
	margin: 0;
	padding: 0 15px;
	background-color: #E3E3E4;
	color: #89898A;
}

.location ul{
	width: 235px;
	display: inline-block;
	float: left;
	background-color: #FFFFFF;
	border: none;
}
.location li:hover{
	color: #ffffff;
	background: url(images/task_1_7_0000s_0004s_0009__编组_.png) no-repeat 3% 50%;
	background-color: #BE4E48;

}
.main4-tag1{
	position: absolute;
	top: 9px;
	right: 5px;
}
.main4-tag2{
	position: absolute;
	top: 15px;
	right: 7px;
}
.country:hover,.province:hover,.city:hover{
	height: 100%;
	border: 2px solid #D79995;
	border-radius: 2px;
}

/*--main5--*/
.main5{
	width: 100%;
	height: 605px;
	/*background: url(images/task_1_7_0000s_0005s_0001_图三－图六.png) no-repeat center center;*/
	background-color: #F7F7F7;
	position: relative;
}
.main5-inner{
	position: absolute;
	top: 100px;
	left: 114px;
}
.box{
	margin: 0 36px;
	float: left;
}
.img-box{
	width: 217px;
	height: 336px;
	background-color: #FFFFFF;
	border: 1px solid #CECECE;
}
.img{
	width: 200px;
	height: 310px;
	margin: 13px auto;
	background: url(images/task_1_7_0000s_0005s_0001_图三－图六.png) no-repeat;
}
.img2{
	background-position: -254px -55px;
}
.img3{
	background-position: -510px 0;
}
.img4{
	background-position: -766px 0;
}
.main5-title{
	font-size: 15px;
	color: #313232;
	line-height: 40px;
	text-align: center;
}
.main5-text{
	font-size: 12px;
	color: #818181;
	text-align: center;
}
.main5-title-special{
	font-size: 22px;
	color: #313232;
	text-align: center;
	/*word-spacing: 1.5em;*/
}
.main5-text-special{
	line-height: 40px;
	font-size: 12px;
	color: #818181;
	text-align: center;	
}
/*--main6--*/
.main6{
	width: 100%;
	height: 566px;
	position: relative;
}
.main6-left{
	width: 850px;
	height: 100%;
}
.main6-left-bg1{
	width: 100%;
	height: 100%;
}
.main6-left-bg2{
	position: absolute;
	top: 50%;
	left: 825px;
}
.main6-left-text{
	position: absolute;
	top: 128px;
	left: 240px;
}
.main6-left-txt1{
	font-size: 50px;
	line-height: 40px;
	text-align: center;
}
.main6-left-txt2{
	font-size: 168px;
	line-height: 158px;
	text-align: center;
}
.main6-left-txt3{
	font-size: 22px;
	line-height: 46px;
	text-align: center;
	margin-top: 16px;
}
.main6-right{
	width: 430px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFFFFF;
	background: url(images/task_1_7_0000s_0003s_0001_新世界／01.png) no-repeat center 30%;

}
.main6-right-text{
	width: 290px;
	font-size: 12px;
	font-family: "SimSun";
	color: #B0B0B0;
	line-height: 2.5;
	margin: 206px auto 0;
}
.main6-more{
	width: 104px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	color: #E74F4D;
	background-color: #fff;
	border: 1px solid #E74F4D;
	margin: 50px auto 0;
}
.dot-box{
	position: absolute;
	bottom: 120px;
	right: 168px;
}
.dot{
	margin: 0 8px;
}
/*--main7--*/
.main7{
	width: 100%;
	height: 520px;
	position: relative;
}
.main7-left{
	width: 425px;
	height: 100%;
	background-color: #E74F4D;
	float: left; 
	position: relative;
}
.main7-middle{
	width: 425px;
	height: 100%;
	/*background-color: pink;*/
	float: left; 
	position: relative;
}
.main7-right{
	width: 430px;
	height: 100%;
	/*background-color: black;*/
	float: left; 
	position: relative;
}
.main7-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.main7-arrow{
	position: absolute;
	top: 50%;
	left: 0;
}
.main7-left-title1,.main7-middle-title1{
	width: 100%;
	/*height: 30px;*/
	/*padding: 0 100%;*/
	margin: 172px auto 0;
	font-size: 21px;
	line-height: 35px;
	text-align: center;
	/*position: absolute;*/
	/*top: 1441.436px;*/
}
.main7-left-title1{
	color: #FFFFFF;
}
.main7-middle-title1{
	color: #323333;	
}
.main7-left-border,.main7-middle-border{
	width: 30px;
	margin: 25px auto;
	/*position: absolute;*/
}
.main7-left-border{
	border-bottom: 2px solid #FFFFFF;
}
.main7-middle-border{
	border-bottom: 2px solid #AAAAAA;
}
.main7-left-more,.main7-middle-more{
	width: 166px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	/*color: rgba(255, 255, 255, 0.8);*/
	margin: 0 auto;
	text-align: center;
	/*position: absolute;*/
	/*top: 1485.347px;*/
}
.main7-left-more{
	/*color: #FFFFFF;*/
	border: 1px solid #FFFFFF;

}
.main7-middle-more{
	color: #E74F4D;
	border: 1px solid #E74F4D;

}
/*--main8--*/
.main8{
	width: 100%;
	height: 750px;
	position: relative;
}
.main8-top{
	width: 100%;
	position: absolute;
	top: 0;
}
.main8-title1{
	width: 100%;
	height: 45px;
	/*padding: 0 100%;*/
	margin: 110px auto 0;
	color: #323333;
	font-size: 21px;
	line-height: 45px;
	text-align: center;
	/*position: absolute;*/
	/*top: 1441.436px;*/
}
.main8-border{
	width: 30px;
	border-bottom: 2px solid #E74F4D;
	margin: 0 auto;
	/*position: absolute;*/
}
.main8-title2{
	width: 100%;
	font-size: 12px;
	color: #B7B7B7;
	margin: 20px auto 0;
	text-align: center;
	/*position: absolute;*/
	/*top: 1485.347px;*/
}
.main8-left{
	width: 290px;
	position: absolute;
	top: 300px;
	left: 138px;
	color: #807C7C;
	/*margin-bottom: 20px;*/
}
.main8-left-text{
	margin-bottom: 50px;
}
.main8-left-title{
	font-size: 14px;
	font-family: "SimHei";
	line-height: 1.929;
}
.main8-left-txt{
	font-size: 12px;
	font-family: "SimSun";
	/*color: rgba(35, 24, 21, 0.6);*/
	line-height: 1.75;
	/*text-align: left;*/
}
.main8-left-more{
	font-size: 12px;
	font-family: "SimSun";
	line-height: 1.621;
	text-indent: 15px;
	position: absolute;
	right: 0;
	background: url(images/task_1_7_0000s_0001s_0000__编组_.png) no-repeat left center;
}
.main8-right{
	width: 660px;
	position: absolute;
	top: 300px;
	right: 138px;
	font-size: 12px;
	font-family: "SimHei";
	color: #323333;
}
.main8-textarea,.main8-form div{
	height: 40px;
	line-height: 40px;
	background-color: #EDEDEE;
	float: left;
	text-indent: 20px;
}
.main8-form div{
	width: 310px;
	margin: 0 20px 14px 0;

}
.main8-textarea{
	width: 640px;
	display: block;
}
.main8-form input,textarea{
	border: none;
	background-color: #EDEDEE;
}
.main8-form textarea{
	width: 640px;
	height: 80px;
	resize: none;
	padding: 0;
}
.main8-submit{
	width: 640px;
	height: 40px;
	margin-top: 14px;
	font-family: "SimHei";
}
/*--footer--*/
.footer{
	width: 100%;
	height: 416px;
	position: relative;
	background-color: #32363E;
}
.footer-top{
	width: 100%;
	height: 358px;
	position: absolute;
	top: 0;
}
.footer-title1{
	width: 100%;
	height: 35px;
	font-family: "SimHei";
	margin: 80px auto 0;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 35px;
	text-align: center;
	/*position: absolute;*/
	/*top: 1441.436px;*/
}

.footer-title2{
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	font-family: "SimSun"；
	color: #FFFFFF;
	margin: 0px auto 0;
	text-align: center;
	/*position: absolute;*/
	/*top: 1485.347px;*/
}
.footer-email{
	/*width: 30px;*/
	/*margin: 0 auto;*/
	position: absolute;
	top: 183px;
	left: 383px;
}
.input-email{
	width: 430px;
	height: 38px;
	float: left;
	padding: 0;
	border: 0;
	color: #AAAAAA;
	text-indent: 10px;
	border: 1px solid #A5A7AA;
}
.submit-email{
	width: 80px;
	height: 40px;
	float: left;
	border: 0;
	font-size: 15px;
	color: #FFFFFF;
	background-color: #6F7178;
	/*border: 2px solid #6F7178;*/
}
.footer-tags{
	position: absolute;
	left: 536px;
	top: 260px;
}
.footer-tags img{
	float: left;
	margin: 0 14px;
}
.footer-bottom{
	width: 100%;
	height: 56px;
	background-color: #2F3039;
	position: absolute;
	bottom: 0;
}
.footer-bottom-left{
	font-size: 12px;
	line-height: 56px;
	margin-left: 100px;
	float: left;
}
.footer-bottom-right{
	font-size: 12px;
	line-height: 56px;
	margin-right: 40px;
	float: right;
}